{
  "openapi": "3.0.1",
  "info": {
    "title": "Places API",
    "description": "Places APIs",
    "version": "20250617"
  },
  "servers": [
    {
      "url": "https://places-api.foursquare.com"
    }
  ],
  "security": [
    {
      "ServiceKeyBearerTokenAuth": []
    }
  ],
  "paths": {
    "/autocomplete": {
      "get": {
        "tags": [
          "Autocomplete Endpoints"
        ],
        "summary": "Autocomplete",
        "description": "Returns a list of top places, geos, and/or searches partially matching the provided keyword and location inputs.",
        "operationId": "autocomplete",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "A search term to be applied against titles. Must be at least 3 characters long.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "The latitude/longitude around which you wish to retrieve place information. Specified as latitude,longitude (e.g., ll=41.8781,-87.6298). If you do not specify ll, the server will attempt to retrieve the IP address from the request, and geolocate that IP address.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Defines the distance (in meters) within which to return place results. Setting a radius biases the results to the indicated area, but may not fully restrict results to that specified area. If not provided, default radius is set to 5000 meters.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "The types of results to return; any combination of place, search, and/or geo.If no types are specified, all types will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bias",
            "in": "query",
            "description": "Bias the autocomplete results by a specific type; one of place, search, or geo.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_token",
            "in": "query",
            "description": "A user-generated token to to group the user's query and the user's selected result into a discrete session for billing purposes. Learn more about [session tokens](https://docs.foursquare.com/reference/session-tokens).\n\n*If the session_token parameter is omitted, the session is charged per keystroke/request.*",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return, up to 50. Defaults to 10.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Places-Api-Version",
            "in": "header",
            "description": "The version of the API to use.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-06-17",
              "enum": [
                "2025-06-17"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "text": {
                            "type": "object",
                            "properties": {
                              "primary": {
                                "type": "string"
                              },
                              "secondary": {
                                "type": "string"
                              },
                              "highlight": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "start": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "length": {
                                      "type": "integer",
                                      "format": "int32"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "prefix": {
                                "type": "string"
                              },
                              "suffix": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "classifications": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "string"
                                }
                              },
                              "tip": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "photo": {},
                                  "lang": {
                                    "type": "string"
                                  },
                                  "agree_count": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "disagree_count": {
                                    "type": "integer",
                                    "format": "int32"
                                  }
                                }
                              }
                            }
                          },
                          "link": {
                            "type": "string"
                          },
                          "place": {
                            "type": "object",
                            "properties": {
                              "fsq_id": {
                                "type": "string"
                              },
                              "categories": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "short_name": {
                                      "type": "string"
                                    },
                                    "plural_name": {
                                      "type": "string"
                                    },
                                    "icon": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "prefix": {
                                          "type": "string"
                                        },
                                        "suffix": {
                                          "type": "string"
                                        },
                                        "width": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "height": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "classifications": {
                                          "type": "array",
                                          "properties": {
                                            "traversable_again": {
                                              "type": "boolean"
                                            }
                                          },
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "tip": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "created_at": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "url": {
                                              "type": "string"
                                            },
                                            "photo": {},
                                            "lang": {
                                              "type": "string"
                                            },
                                            "agree_count": {
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "disagree_count": {
                                              "type": "integer",
                                              "format": "int32"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "chains": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "prefix": {
                                          "type": "string"
                                        },
                                        "suffix": {
                                          "type": "string"
                                        },
                                        "width": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "height": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "classifications": {
                                          "type": "array",
                                          "properties": {
                                            "traversable_again": {
                                              "type": "boolean"
                                            }
                                          },
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "tip": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "created_at": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "url": {
                                              "type": "string"
                                            },
                                            "photo": {},
                                            "lang": {
                                              "type": "string"
                                            },
                                            "agree_count": {
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "disagree_count": {
                                              "type": "integer",
                                              "format": "int32"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "parent_id": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "closed_bucket": {
                                "type": "string"
                              },
                              "date_closed": {
                                "type": "string",
                                "format": "date"
                              },
                              "description": {
                                "type": "string"
                              },
                              "distance": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fax": {
                                "type": "string"
                              },
                              "features": {
                                "type": "object",
                                "properties": {
                                  "payment": {
                                    "type": "object",
                                    "properties": {
                                      "credit_cards": {
                                        "type": "object",
                                        "properties": {
                                          "accepts_credit_cards": {
                                            "type": "object"
                                          },
                                          "amex": {
                                            "type": "object"
                                          },
                                          "discover": {
                                            "type": "object"
                                          },
                                          "visa": {
                                            "type": "object"
                                          },
                                          "diners_club": {
                                            "type": "object"
                                          },
                                          "master_card": {
                                            "type": "object"
                                          },
                                          "union_pay": {
                                            "type": "object"
                                          }
                                        }
                                      },
                                      "digital_wallet": {
                                        "type": "object",
                                        "properties": {
                                          "accepts_nfc": {
                                            "type": "object"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "food_and_drink": {
                                    "type": "object",
                                    "properties": {
                                      "alcohol": {
                                        "type": "object",
                                        "properties": {
                                          "bar_service": {
                                            "type": "object"
                                          },
                                          "beer": {
                                            "type": "object"
                                          },
                                          "byo": {
                                            "type": "object"
                                          },
                                          "cocktails": {
                                            "type": "object"
                                          },
                                          "full_bar": {
                                            "type": "object"
                                          },
                                          "wine": {
                                            "type": "object"
                                          }
                                        }
                                      },
                                      "meals": {
                                        "type": "object",
                                        "properties": {
                                          "bar_snacks": {
                                            "type": "object"
                                          },
                                          "breakfast": {
                                            "type": "object"
                                          },
                                          "brunch": {
                                            "type": "object"
                                          },
                                          "lunch": {
                                            "type": "object"
                                          },
                                          "happy_hour": {
                                            "type": "object"
                                          },
                                          "dessert": {
                                            "type": "object"
                                          },
                                          "dinner": {
                                            "type": "object"
                                          },
                                          "tasting_menu": {
                                            "type": "object"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "services": {
                                    "type": "object",
                                    "properties": {
                                      "delivery": {
                                        "type": "object"
                                      },
                                      "takeout": {
                                        "type": "object"
                                      },
                                      "drive_through": {
                                        "type": "object"
                                      },
                                      "dine_in": {
                                        "type": "object",
                                        "properties": {
                                          "reservations": {
                                            "type": "object"
                                          },
                                          "online_reservations": {
                                            "type": "object"
                                          },
                                          "groups_only_reservations": {
                                            "type": "object"
                                          },
                                          "essential_reservations": {
                                            "type": "object"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "amenities": {
                                    "type": "object",
                                    "properties": {
                                      "restroom": {
                                        "type": "object"
                                      },
                                      "smoking": {
                                        "type": "object"
                                      },
                                      "jukebox": {
                                        "type": "object"
                                      },
                                      "music": {
                                        "type": "object"
                                      },
                                      "live_music": {
                                        "type": "object"
                                      },
                                      "private_room": {
                                        "type": "object"
                                      },
                                      "outdoor_seating": {
                                        "type": "object"
                                      },
                                      "tvs": {
                                        "type": "object"
                                      },
                                      "atm": {
                                        "type": "object"
                                      },
                                      "coat_check": {
                                        "type": "object"
                                      },
                                      "wheelchair_accessible": {
                                        "type": "object"
                                      },
                                      "parking": {
                                        "type": "object",
                                        "properties": {
                                          "parking": {
                                            "type": "object"
                                          },
                                          "street_parking": {
                                            "type": "object"
                                          },
                                          "valet_parking": {
                                            "type": "object"
                                          },
                                          "public_lot": {
                                            "type": "object"
                                          },
                                          "private_lot": {
                                            "type": "object"
                                          }
                                        }
                                      },
                                      "sit_down_dining": {
                                        "type": "object"
                                      },
                                      "wifi": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "attributes": {
                                    "type": "object",
                                    "properties": {
                                      "business_meeting": {
                                        "type": "string"
                                      },
                                      "clean": {
                                        "type": "string"
                                      },
                                      "crowded": {
                                        "type": "string"
                                      },
                                      "dates_popular": {
                                        "type": "string"
                                      },
                                      "dressy": {
                                        "type": "string"
                                      },
                                      "families_popular": {
                                        "type": "string"
                                      },
                                      "gluten_free_diet": {
                                        "type": "string"
                                      },
                                      "good_for_dogs": {
                                        "type": "string"
                                      },
                                      "groups_popular": {
                                        "type": "string"
                                      },
                                      "healthy_diet": {
                                        "type": "string"
                                      },
                                      "late_night": {
                                        "type": "string"
                                      },
                                      "noisy": {
                                        "type": "string"
                                      },
                                      "quick_bite": {
                                        "type": "string"
                                      },
                                      "romantic": {
                                        "type": "string"
                                      },
                                      "service_quality": {
                                        "type": "string"
                                      },
                                      "singles_popular": {
                                        "type": "string"
                                      },
                                      "special_occasion": {
                                        "type": "string"
                                      },
                                      "trendy": {
                                        "type": "string"
                                      },
                                      "value_for_money": {
                                        "type": "string"
                                      },
                                      "vegan_diet": {
                                        "type": "string"
                                      },
                                      "vegetarian_diet": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "geocodes": {
                                "type": "object",
                                "properties": {
                                  "drop_off": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  },
                                  "front_door": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  },
                                  "main": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  },
                                  "road": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  },
                                  "roof": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  }
                                }
                              },
                              "hours": {
                                "type": "object",
                                "properties": {
                                  "display": {
                                    "type": "string"
                                  },
                                  "is_local_holiday": {
                                    "type": "boolean"
                                  },
                                  "open_now": {
                                    "type": "boolean"
                                  },
                                  "regular": {
                                    "type": "array",
                                    "properties": {
                                      "traversable_again": {
                                        "type": "boolean"
                                      }
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "close": {
                                          "type": "string"
                                        },
                                        "day": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "open": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "hours_popular": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "close": {
                                      "type": "string"
                                    },
                                    "day": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "open": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "link": {
                                "type": "string"
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "address_extended": {
                                    "type": "string"
                                  },
                                  "admin_region": {
                                    "type": "string"
                                  },
                                  "census_block": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "cross_street": {
                                    "type": "string"
                                  },
                                  "dma": {
                                    "type": "string"
                                  },
                                  "formatted_address": {
                                    "type": "string"
                                  },
                                  "locality": {
                                    "type": "string"
                                  },
                                  "neighborhood": {
                                    "type": "array",
                                    "properties": {
                                      "traversable_again": {
                                        "type": "boolean"
                                      }
                                    },
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "po_box": {
                                    "type": "string"
                                  },
                                  "post_town": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  }
                                }
                              },
                              "menu": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "photos": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "prefix": {
                                      "type": "string"
                                    },
                                    "suffix": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "classifications": {
                                      "type": "array",
                                      "properties": {
                                        "traversable_again": {
                                          "type": "boolean"
                                        }
                                      },
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "tip": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "text": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        },
                                        "photo": {},
                                        "lang": {
                                          "type": "string"
                                        },
                                        "agree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "disagree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "popularity": {
                                "type": "number",
                                "format": "double"
                              },
                              "price": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "rating": {
                                "type": "number",
                                "format": "double"
                              },
                              "related_places": {
                                "type": "object",
                                "properties": {
                                  "children": {
                                    "type": "array",
                                    "properties": {
                                      "traversable_again": {
                                        "type": "boolean"
                                      }
                                    },
                                    "items": {}
                                  }
                                }
                              },
                              "social_media": {
                                "type": "object",
                                "properties": {
                                  "facebook_id": {
                                    "type": "string"
                                  },
                                  "instagram": {
                                    "type": "string"
                                  },
                                  "twitter": {
                                    "type": "string"
                                  }
                                }
                              },
                              "stats": {
                                "type": "object",
                                "properties": {
                                  "total_photos": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "total_ratings": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "total_tips": {
                                    "type": "integer",
                                    "format": "int32"
                                  }
                                }
                              },
                              "store_id": {
                                "type": "string"
                              },
                              "tastes": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "string"
                                }
                              },
                              "tel": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "tips": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "text": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "photo": {},
                                    "lang": {
                                      "type": "string"
                                    },
                                    "agree_count": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "disagree_count": {
                                      "type": "integer",
                                      "format": "int32"
                                    }
                                  }
                                }
                              },
                              "venue_reality_bucket": {
                                "type": "string"
                              },
                              "verified": {
                                "type": "boolean"
                              },
                              "website": {
                                "type": "string"
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "address_id": {
                                "type": "string"
                              }
                            }
                          },
                          "search": {
                            "type": "object",
                            "properties": {
                              "query": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "short_name": {
                                    "type": "string"
                                  },
                                  "plural_name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "created_at": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "prefix": {
                                        "type": "string"
                                      },
                                      "suffix": {
                                        "type": "string"
                                      },
                                      "width": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "height": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "classifications": {
                                        "type": "array",
                                        "properties": {
                                          "traversable_again": {
                                            "type": "boolean"
                                          }
                                        },
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "tip": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "text": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "photo": {},
                                          "lang": {
                                            "type": "string"
                                          },
                                          "agree_count": {
                                            "type": "integer",
                                            "format": "int32"
                                          },
                                          "disagree_count": {
                                            "type": "integer",
                                            "format": "int32"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "chain": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "logo": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "created_at": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "prefix": {
                                        "type": "string"
                                      },
                                      "suffix": {
                                        "type": "string"
                                      },
                                      "width": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "height": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "classifications": {
                                        "type": "array",
                                        "properties": {
                                          "traversable_again": {
                                            "type": "boolean"
                                          }
                                        },
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "tip": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "created_at": {
                                            "type": "string",
                                            "format": "date-time"
                                          },
                                          "text": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          },
                                          "photo": {},
                                          "lang": {
                                            "type": "string"
                                          },
                                          "agree_count": {
                                            "type": "integer",
                                            "format": "int32"
                                          },
                                          "disagree_count": {
                                            "type": "integer",
                                            "format": "int32"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "parent_id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "geo": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "center": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              },
                              "bounds": {
                                "type": "object",
                                "properties": {
                                  "ne": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  },
                                  "sw": {
                                    "type": "object",
                                    "properties": {
                                      "latitude": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "longitude": {
                                        "type": "number",
                                        "format": "double"
                                      }
                                    }
                                  }
                                }
                              },
                              "cc": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "debug": {
                            "type": "object",
                            "properties": {
                              "score": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ServiceKeyBearerTokenAuth": []
          }
        ]
      }
    },
    "/places/search": {
      "get": {
        "tags": [
          "Search & Data Endpoints"
        ],
        "summary": "Place Search",
        "description": "Search for places in the FSQ Places database using a location and querying by name, category name, telephone number, taste label, or chain name. For example, search for \"coffee\" to get back a list of recommended coffee shops. \n\nYou may pass a location with your request by using one of the following options. If none of the following options are passed, Place Search defaults to geolocation using ip biasing with the optional radius parameter.\n\n<ul><li>ll & radius (circular boundary)</li><li>near (geocodable locality)</li><li>ne & sw (rectangular boundary)</li></ul>",
        "operationId": "place-search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "A string to be matched against all content for this place, including but not limited to venue name, category, telephone number, taste, and tips.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "The latitude/longitude around which to retrieve place information. This must be specified as latitude,longitude (e.g., ll=41.8781,-87.6298).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Sets a radius distance (in meters) used to define an area to bias search results. The maximum allowed radius is 100,000 meters. Radius can be used in combination with ll or ip biased geolocation only. By using radius, global search results will be omitted. If not provided, default radius applied is 22000 meters.",
            "required": false,
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fsq_category_ids",
            "in": "query",
            "description": "Filters the response and returns FSQ Places matching the specified categories. Supports multiple Category IDs, separated by commas.\n\nFor a complete list of Foursquare Category IDs, refer to the <a href=\"https://docs.foursquare.com/data-products/docs/categories\" target=\"blank\">Category Taxonomy</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fsq_chain_ids",
            "in": "query",
            "description": "Filters the response and returns FSQ Places matching the specified chains. Supports multiple chain IDs, separated by commas.\n\nFor more information on Foursquare Chain IDs, refer to the <a href=\"https://docs.foursquare.com/data-products/docs/chains\" target=\"blank\">Chains</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_fsq_chain_ids",
            "in": "query",
            "description": "Filters the response and returns FSQ Places not matching any of the specified chains. Supports multiple chain IDs, separated by commas. Cannot be used in conjunction with exclude_all_chains.\n\nFor more information on Foursquare Chain IDs, refer to the <a href=\"https://docs.foursquare.com/data-products/docs/chains\" target=\"blank\">Chains</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_all_chains",
            "in": "query",
            "description": "Filters the response by only returning FSQ Places that are not known to be part of any chain. Cannot be used in conjunction with exclude_chains.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Indicate which fields to return in the response, separated by commas. If no fields are specified, all <a href=\"response-fields#places-pro\" target=\"_blank\">Pro Fields</a> are returned by default. \n\nFor a complete list of returnable fields, refer to the <a href=\"response-fields\" target=\"_blank\">Places Response Fields</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Restricts results to only those places within the specified price range. Valid values range between 1 (most affordable) to 4 (most expensive), inclusive.",
            "required": false,
            "schema": {
              "maximum": 4,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Restricts results to only those places within the specified price range. Valid values range between 1 (most affordable) to 4 (most expensive), inclusive.",
            "required": false,
            "schema": {
              "maximum": 4,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "open_at",
            "in": "query",
            "description": "Support local day and local time requests through this parameter. To be specified as DOWTHHMM (e.g., 1T2130), where DOW is the day number 1-7 (Monday = 1, Sunday = 7) and time is in 24 hour format.\n\nPlaces that do not have opening hours will not be returned if this parameter is specified. Cannot be specified in conjunction with `open_now`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "open_now",
            "in": "query",
            "description": "Restricts results to only those places that are open now.\n\nPlaces that do not have opening hours will not be returned if this parameter is specified. Cannot be specified in conjunction with `open_at`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tel_format",
            "in": "query",
            "description": "Specifies the format of the returned telephone number. Possible values are:<ul><li>national (default)</li><li>e164</li></ul>",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NATIONAL",
                "E164"
              ]
            }
          },
          {
            "name": "ne",
            "in": "query",
            "description": "The latitude/longitude representing the north/east points of a rectangle. Must be used with sw parameter to specify a rectangular search box. Global search results will be omitted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sw",
            "in": "query",
            "description": "The latitude/longitude representing the south/west points of a rectangle. Must be used with ne parameter to specify a rectangular search box. Global search results will be omitted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "description": "A string naming a locality in the world (e.g., \"Chicago, IL\"). If the value is not geocodable, returns an error. Global search results will be omitted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the order in which results are listed. Possible values are:<ul><li>relevance (default)</li><li>rating</li><li>distance</li></ul>",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RELEVANCE",
                "RATING",
                "DISTANCE",
                "POPULARITY"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return, up to 50. Defaults to 10.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Places-Api-Version",
            "in": "header",
            "description": "The version of the API to use.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2025-06-17",
              "enum": [
                "2025-06-17"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "fsq_place_id": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "object"
                          },
                          "longitude": {
                            "type": "object"
                          },
                          "categories": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "fsq_category_id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "short_name": {
                                  "type": "string"
                                },
                                "plural_name": {
                                  "type": "string"
                                },
                                "icon": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "prefix": {
                                      "type": "string"
                                    },
                                    "suffix": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "classifications": {
                                      "type": "array",
                                      "properties": {
                                        "traversable_again": {
                                          "type": "boolean"
                                        }
                                      },
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "tip": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "text": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        },
                                        "photo": {},
                                        "lang": {
                                          "type": "string"
                                        },
                                        "agree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "disagree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "chains": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "fsq_chain_id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "prefix": {
                                      "type": "string"
                                    },
                                    "suffix": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "classifications": {
                                      "type": "array",
                                      "properties": {
                                        "traversable_again": {
                                          "type": "boolean"
                                        }
                                      },
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "tip": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "text": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        },
                                        "photo": {},
                                        "lang": {
                                          "type": "string"
                                        },
                                        "agree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "disagree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        }
                                      }
                                    }
                                  }
                                },
                                "parent_id": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "date_closed": {
                            "type": "string",
                            "format": "date"
                          },
                          "date_created": {
                            "type": "string"
                          },
                          "date_refreshed": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "distance": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "email": {
                            "type": "string"
                          },
                          "extended_location": {
                            "type": "object",
                            "properties": {
                              "dma": {
                                "type": "string"
                              },
                              "census_block_id": {
                                "type": "string"
                              }
                            }
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "restroom": {
                                "type": "object"
                              },
                              "outdoor_seating": {
                                "type": "object"
                              },
                              "atm": {
                                "type": "object"
                              },
                              "has_parking": {
                                "type": "object"
                              },
                              "wifi": {
                                "type": "string"
                              },
                              "delivery": {
                                "type": "object"
                              },
                              "reservations": {
                                "type": "object"
                              },
                              "takes_credit_card": {
                                "type": "object"
                              }
                            }
                          },
                          "hours": {
                            "type": "object",
                            "properties": {
                              "display": {
                                "type": "string"
                              },
                              "is_local_holiday": {
                                "type": "boolean"
                              },
                              "open_now": {
                                "type": "boolean"
                              },
                              "regular": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "close": {
                                      "type": "string"
                                    },
                                    "day": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "open": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "hours_popular": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "close": {
                                  "type": "string"
                                },
                                "day": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "open": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "link": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "admin_region": {
                                "type": "string"
                              },
                              "post_town": {
                                "type": "string"
                              },
                              "po_box": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "formatted_address": {
                                "type": "string"
                              }
                            }
                          },
                          "menu": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "photos": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "fsq_photo_id": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "prefix": {
                                  "type": "string"
                                },
                                "suffix": {
                                  "type": "string"
                                },
                                "width": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "height": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "classifications": {
                                  "type": "array",
                                  "properties": {
                                    "traversable_again": {
                                      "type": "boolean"
                                    }
                                  },
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "tip": {
                                  "type": "object",
                                  "properties": {
                                    "fsq_tip_id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "text": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "photo": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "prefix": {
                                          "type": "string"
                                        },
                                        "suffix": {
                                          "type": "string"
                                        },
                                        "width": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "height": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "classifications": {
                                          "type": "array",
                                          "properties": {
                                            "traversable_again": {
                                              "type": "boolean"
                                            }
                                          },
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "tip": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "created_at": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "url": {
                                              "type": "string"
                                            },
                                            "photo": {},
                                            "lang": {
                                              "type": "string"
                                            },
                                            "agree_count": {
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "disagree_count": {
                                              "type": "integer",
                                              "format": "int32"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "lang": {
                                      "type": "string"
                                    },
                                    "agree_count": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "disagree_count": {
                                      "type": "integer",
                                      "format": "int32"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "format": "double"
                          },
                          "placemaker_url": {
                            "type": "string"
                          },
                          "price": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "rating": {
                            "type": "number",
                            "format": "double"
                          },
                          "related_places": {
                            "type": "object",
                            "properties": {
                              "parent": {
                                "type": "object",
                                "properties": {
                                  "fsq_place_id": {
                                    "type": "string"
                                  },
                                  "latitude": {
                                    "type": "object"
                                  },
                                  "longitude": {
                                    "type": "object"
                                  },
                                  "categories": {
                                    "type": "array",
                                    "properties": {
                                      "traversable_again": {
                                        "type": "boolean"
                                      }
                                    },
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "fsq_category_id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "short_name": {
                                          "type": "string"
                                        },
                                        "plural_name": {
                                          "type": "string"
                                        },
                                        "icon": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            },
                                            "created_at": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "prefix": {
                                              "type": "string"
                                            },
                                            "suffix": {
[...]
